# Project specific
public/
docs/_build
docs/html
docs/*/generated/

# Testing specific
.coverage*
coverage.xml
pytests.xml
htmlcov/
.tox/

# IDE specific
.vscode
.idea

# OS Specific
._.DS_Store
.DS_Store
