.wy-side-nav-search {
    /*background-color: #fff;*/
    background-color: #212224; !important /* Change color of icon/logo area in side-bar */
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

/* Improve markdown -> RST blockquote styling */
.rst-content blockquote {
	border-left-style: solid;
	border-left-color: #4db3db;
	padding-left: 10px;
}